.pedido{
    color: aqua;
    font-size: 100px;
}
body{
    background-color:rgb(105, 132, 141);
    text-align: center;
    padding-top: 50px;
}
button{
    background-color: #ffffff;
    color: aqua;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
}
button:hover {
    background-color: #ff9999;
    color: #ffffff;
}
